XML/src/com/core/java/session/xml/question.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="question">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="answers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="answername" type="xs:string" />
							<xs:element name="id" type="xs:integer" />
							<xs:element name="postedby" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="id" type="xs:integer" />
				<xs:element name="qname" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

<!-- https://www.liquid-technologies.com/online-xsd-validator -->